extends ./index.jade
block content
	div(class='p404__container')
		div(class='p404__header') &nbsp&nbsp&nbspУпс, дыра: 404!!!
		div(class='p404__info')
			div(class='p404__info-image')
			div(class='p404__info-title') Соррян!
			div(class='p404__info-text') Здесь реально ничено нет, а если было, то пропало. Попробуйте что-то сделать
		span(class='p404__or') ИЛИ
		div(class='p404__button' href='/') Вернуться домой
