doctype html
html(class='m-main')
    head
        title FinSystem
        link(rel='stylesheet' href='/css/main.css')
    body
        include ./modules/head.jade
        div(class='p404__container')
            div(class='p404__header') &nbsp&nbsp&nbspУпс, дыра: 404!!!
            div(class='p404__info')
                div(class='p404__info-image')
                div(class='p404__info-title') Соррян!
                div(class='p404__info-text') Здесь реально ничено нет, а если было, то пропало. Попробуйте что-то сделать
            span(class='p404__or') ИЛИ
            div(class='p404__button' href='/') Вернуться домой
        include ./modules/footer.jade
    script(src="/js/lib/jquery.js")
    script(src="/js/app.js")