table.base-table.table.table-striped
	thead
		tr
			each column, name in columns
				td
					span.base-table-sort-icon
						if baseTable.orderColumn == name
							- var isAsc = baseTable.orderLinks[name].indexOf('asc') === -1
							if (isAsc)
								span.glyphicon.glyphicon-arrow-up
							else
								span.glyphicon.glyphicon-arrow-down
						else
							span.glyphicon.glyphicon-minus
					a(href='?order=' + baseTable.orderLinks[name])= column
	tbody
		each row in data
			tr
				each column, name in columns
					td= row[name]

