doctype html
html(class='m-main')
    head
        title FinSystem
        link(rel='stylesheet', href='/css/main.css')
    body 
        div(class='wrapper')
            div(class='main__header-container') 
                include modules/main-header
            div(class='main__menu-container')
                include modules/main-menu
            div(class='main__content-container')
                include modules/main-content 
            div(class='main__footer-container') 
                include modules/main-footer
                
    include modules/templates
    
    script
        include ../js/lib/jquery.js
    script
        include ../js/lib/jquery.cookie.js
    script
        include ../js/lib/jquery-ui.min.js
    script
        include ../js/lib/handlebars.min.js
    script
        include ../js/lib/jquery.dataTables.js
    script(src="/js/app.js")
