doctype html
html(class='m-main')
    head
        title FinSystem
        link(rel='stylesheet' href='/css/main.css')
    body
        include ./modules/head.jade

        include ./modules/clietns-block.jade

        include ./modules/footer.jade
    script(src="/js/lib/jquery.js")
    script(src="/js/app.js")