doctype html
html(class='m-main')
    head
        title FinSystem
        link(rel='stylesheet' href='/css/main.css')
    body


        include ./modules/head.jade

        -
            var showAddForm,
                showFavForm,
                collapsedModifier,
                blockInFavModifier,
                noForm;


        -noForm = 1;
        -showAddForm = 0;
        -showFavForm = 0;
        -collapsedModifier = '';
        -blockInFavModifier = '';
        include ./modules/clietns-block.jade


        -noForm = 0;
        -showAddForm = 0;
        -showFavForm = 0;
        -collapsedModifier = 'm-collapsed';
        -blockInFavModifier = '';
        include ./modules/clietns-block.jade


        -noForm = 0;
        -showAddForm = 0;
        -showFavForm = 0;
        -collapsedModifier = '';
        -blockInFavModifier = 'm-active';
        include ./modules/clietns-block.jade


        -noForm = 1;
        -showAddForm = 1;
        -showFavForm = 0;
        -collapsedModifier = '';
        -blockInFavModifier = '';
        include ./modules/clietns-block.jade


        -noForm = 0;
        -showAddForm = 0;
        -showFavForm = 1;
        -collapsedModifier = '';
        -blockInFavModifier = '';
        include ./modules/clietns-block.jade

        -var showAddForm = 1;
        include ./modules/clietns-block.jade

        include ./modules/footer.jade
    script(src="/js/lib/jquery.js")
    script(src="/js/app.js")