doctype html
html(class='m-main')
    head
        title FinSystem
        link(rel='stylesheet' href='/css/main.css')
    body


        include ./modules/head.jade

        -
            var showAddForm = false,
                showFavForm = false,
                collapsedModifier = 'm-collapsed';

        -
            showAddForm = false;
            showFavForm = false;
            collapsedModifier = 'm-collapsed';
        include ./modules/clietns-block.jade

        -
             showAddForm = false;
             showFavForm = false;
             collapsedModifier = '';
        include ./modules/clietns-block.jade

        -
            showAddForm = true;
            showFavForm = false;
            collapsedModifier = '';
        include ./modules/clietns-block.jade

        -
            showAddForm = false;
            showFavForm = true;
            collapsedModifier = '';
        include ./modules/clietns-block.jade

        include ./modules/footer.jade
    script(src="/js/lib/jquery.js")
    script(src="/js/app.js")