extends ./main

block content
    -
        var collapsedModifier='m-collapsed',
            blockInFavModifier='m-active';

    -
        collapsedModifier = '';
        blockInFavModifier='';
    include ./modules/clietns-block.jade
