doctype html
html(class='m-main')
    head
        title FinSystem
        link(rel='stylesheet' href='/css/main.css')
    body


        include ./modules/head.jade

        -var showAddForm = false;
        -var showFavForm = true;
        include ./modules/clietns-block.jade

        -var showAddForm = false;
        -var showFavForm = false;
        include ./modules/clietns-block.jade

        -var showAddForm = true;
        -var showFavForm = false;
        include ./modules/clietns-block.jade

        include ./modules/footer.jade
    script(src="/js/lib/jquery.js")
    script(src="/js/app.js")