extends  ./static/index

block content
	form.form-horizontal(action="/login", method="post",enctype="application/x-www-form-urlencoded")
		.form-group
			label.col-sm-2.control-label(for='login') Логин
			.col-sm-10
				input#login.form-control(type='text', placeholder='Логин')
		.form-group
			label.col-sm-2.control-label(for='password') Пароль
			.col-sm-10
				input#password.form-control(type='password', placeholder='Пароль')
		.form-group
			.col-sm-offset-2.col-sm-10
				button.btn.btn-default(type='submit') Войти