doctype html
html(class='m-login')
    head
        title FinSystem
        link(rel='stylesheet' href='/css/main.css')
    body
        div(class='login-form__container')
            div(class='login-form__header')
                span(class='login-form__header-title') FinSystem
                span(class='login-form__header-description') Войдите в систему используя свой логин и пароль!
            div(class='login-form__bar')
                div(class='login-form__bar-triangle')
            form(class='login-form__form' action='login')
                div(class='login-form__form-element')
                    div(class='login-form__form-icon')
                        i(class='fa fa-user login-form__form-icon-picture')
                    input(class='login-form__form-input' name='login' placeholder='Логин' autocomplete="off")
                div(class='login-form__form-element')
                    div(class='login-form__form-icon')
                        i(class='fa fa-key login-form__form-icon-picture')
                    input(class='login-form__form-input' name='password' type='password' placeholder='Пароль' autocomplete="off")
                div(class='login-form__form-element m-button')
                    div(class='login-form__form-icon m-button-icon')
                        i(class='fa fa-arrow-circle-right login-form__form-icon-picture')
                    input(class='login-form__form-input m-button-input' type='submit' value='Войти')
        script(src="/js/app.js")

