doctype html
html(class='m-main')
    head
        title FinSystem
        link(rel='stylesheet' href='/css/main.css')
    body

        block content

        include ./modules/footer.jade
    script(src="/js/lib/jquery.js")
    script(src="/js/lib/jquery.cookie.js")
    script(src="/js/lib/jquery.dataTables.js")
    script(src="/js/app.js")