doctype html
html(class='m-main')
    head
        title FinSystem
        link(rel='stylesheet' href='/css/main.css')
    body
        div(class='main__header')
            div(class='main__header-logo')
                span(class='main__header-logo__caption') finSystem
            div(class='main__header-menu')
                div(class='main__header-menu__point') Клиенты
                div(class='main__header-menu__point m-selected') Операции
                div(class='main__header-menu__point') Касса
            div(class='main__header-buttons')
                div(class='main__header-button' title='Домой')
                    i(class='fa fa-home main__header-button__picture')
                div(class='main__header-button' title='Настройки')
                    i(class='fa fa-cog main__header-button__picture')
                div(class='main__header-button' title='Выход')
                    i(class='fa fa-external-link main__header-button__picture')




        script(src="/js/app.js")