ul.menu.login-menu
	li.login Войти
ul.menu.main-menu
	li.clients(data-module='clients') Клиенты
	li.operations Операции
	li.cash-box.current Касса
	li.reports Отчёты
	li.accounts Счета
	li.exchange Валюты


