script(id="subjects-list", type="text/x-handlebars-template")
    div(class='main__content-data-container' data-table-click-view='true')
        div(style='display:none;' data-tab-config='true').
            {
                "dataTables": {
                    "columns": [
                        {"data": "id"},
                        {"data": "name"},
                        {"data": "description"},
                        {"data": "INN"},
                        {"data": "KPP"},
                        {"data": "isSystem"}
                    ],
                    "ajax": "subjects/datatable"
                },
                "tabClickBindings": [{
                    "selector": "[data-table-click-view=true] tbody tr",
                    "event": "click",
                    "func": "viewRowFromTableView"
                }],
                "viewConfig": {
                    "getElementURL": "/subjects/{id}/",
                    "postElementURL": "/subjects/{id}",
                    "formTemplate": "subjects-view"
                }
            }
        table(data-datatables='true')
          thead
            tr
              th ID
              th Название/ФИО
              th Описание
              th ИНН
              th КПП
              th Системная
          tfoot
            tr
              th ID
              th Название/ФИО
              th Описание
              th ИНН
              th КПП
              th Системная
            
