.main__header {
    &-container {
        background-color: #353535;
        background: url(../img/images/jq-global-nav.png) repeat-x 0 bottom #1b1b1b;
        box-sizing: border-box;
        order: 1;
        width: 100%;
        height: 34px;
        line-height: 33px;
        border-bottom: 1px solid #FAA523;
        color: #DFDFDF;
        font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
        display: inline-flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }
    &-userblock {
        line-height: 29px;     
        border-left: 1px solid #1B1B1B;
        border-right: 1px solid #1B1B1B;
        padding-left: 10px;
        padding-right: 10px;
        &.m-hidden {
            display: none;
        }
    }
    &-exit {
        line-height: 29px;
        cursor: pointer;
        border-left: 1px solid #1B1B1B;
        border-right: 1px solid #1B1B1B;
        padding-left: 10px;
        padding-right: 10px;
    }
    &-title {
        line-height: 29px;
        border-left: 1px solid #1B1B1B;
        border-right: 1px solid #1B1B1B;
        padding-left: 10px;
        padding-right: 10px;
    }
}