.main__footer {
    &-container {
        background-color: #353535;
        order: 4;
        align-self: baseline;
        width: 100%;
        height: 25px;
        box-sizing: border-box;
        display: flex;
        color: #DFDFDF;
    }
    &-label {
        line-height: 29px;
        width: 100px; 
        margin: auto;
    }
}