.main__menu {
    &-container {
        border-radius: 0 20px 20px 0;
        border-bottom: 1px solid #FAA523;
        border-top: 1px solid #FAA523;
        border-right: 1px solid #FAA523;
        background-color: #B24926;
        margin-right: 10px;
        color: white;
        order: 2;
        flex: 1 auto;
        max-width: 200px;
        box-sizing: border-box;
        &.m-collapsed {
            max-width:50px;
            & .main__menu-header {
                border: 0px;
                &__title {
                    display: none;
                }
            }
            & .main__menu-header__collapse:after {
                content: '▶';
            }
            & li {
                display: none;
            }
        }
    }
    &-header {
        border-bottom: 1px solid black;
        position: relative;
        line-height: 36px;
        border-radius: 0 22px 0 0;
        background-color: #A74423;    
        &__collapse {
            cursor: pointer;
            font-size: 18px;
            line-height: 36px;
            position: absolute;
            right: 5px;
            &:after {
                content: '◀';
            }
        }
        &__title {
            margin-left: 25px;
            font-size: 18px;
        }
    }
    &-list {
        line-height: 20px;
        & > li {
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }   
}