@mixin no-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sfs {
	&__container {
		width: 100%;
		border: 10px solid #404040;
		box-sizing: border-box;
	}
	&__title {
		width: 100%;
		line-height: 48px;
		height: 50px;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		color: white;
		@include no-select;
	}
	&__field {
		&-container {
			display: inline-block;
			min-height: 80px;
			margin-bottom: 7px;
			margin-top: 7px;
			padding: 5px 35px;
			position: relative;
			&.m-1{
				width: 490px;
				box-sizing: border-box;
			}
			&.m-2 {
				width: 920px;
			}
		}
		&-input {
			width: 100%;
			line-height: 38px;
		}
		&-select {
			width: 100%;
			line-height: 45px;
			height: 45px;
			background: #f4f4f4;
		}
		&-title {
			float: right;
			margin-top: 5px;
			color: white;
			letter-spacing: 1.2px;
		}
		&-textarea {
			resize: none;
		 	width: 100%;
			line-height: 28px;
		}
		&-checkbox {
			position: absolute;
			right: 35px;
			line-height: 38px;
			top: -10px;
		}
	}
	&__button {
		width: 100px;
		text-align: center;
		position: relative;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		color: white;
		border-top: 1px solid #B1AFAF;
		border-bottom: 1px solid #B1AFAF;
		line-height: 50px;
		margin-bottom: 20px;
		&:hover {
			opacity: 0.8;
		}
	}
}