html {
    width: 100%;
    height: 100%;
    & body {
        background-color: #261a3b;
        border: 10px solid ghostwhite;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
    }
}