extends ./main-block

block vars
    -
        var blockIcon = 'm-clients__block-logo',
            blockTitle = 'Картотека субъектов',
            blockControls = [
                {
                    id: 1,
                    name: 'Расширенный поиск',
                    formName: 'no-form'
                },{
                    id: 2,
                    name: 'Полный список',
                    formName: 'no-form'
                },{
                    id: 3,
                    name: 'Добавить',
                    formName: 'add-form'
                },{
                    id: 4,
                    name: 'Избранное',
                    formName: 'fav'
                }
            ],
            searchResults = ['Карасева', '444555687456765', 'ООО Игарка', 'ИП Казаков Иван Васильевич'];


block forms
    -
        var addFormFields = [
            {
                name: 'Тип субъекта',
                dataType: 'selector',
                defaultValue: 'Компания',
                data: ['Компания', 'ИП', 'Физ-лицо'],
                fName: 'type',
                width: 1,
                height: 1
            },{
                name: 'Название/Фио',
                dataType: 'text',
                placeholder: 'Полное наименование субъекта',
                fName: 'name',
                width: 1,
                height: 1
            },{
                name: 'ИНН',
                dataType: 'text',
                placeholder: 'ИНН субъекта',
                fName: 'INN',
                width: 1,
                height: 1
            },{
                name: 'КПП',
                dataType: 'text',
                placeholder: 'КПП субъекта',
                fName: 'KPP',
                width: 1,
                height: 1
            },{
                name: 'Описание',
                dataType: 'textarea',
                placeholder: 'Комментарии',
                fName: 'description',
                width: 2,
                height: 4
            },{
                name: 'Системная организация',
                dataType: 'bool',
                default: false,
                fName: 'isSystem',
                width: 1,
                height: 1
            }
        ],
        fName = 'Добавление субъекта',
        bName = 'Сохранить';
    include ./add-form-simple.jade

    -
        var fName = 'Избранные субъекты',
            bName = 'Скрыть',
            favs = [
                {"id":1,"order":0,"createdAt":"2015-12-12T12:35:26.051Z","updatedAt":"2015-12-12T12:35:30.537Z","SubjectId":1,"UserId":1,"Subject":{"id":1,"name":"Lucille","description":"Sit ut enim esse Lorem ea ex qui cillum eu dolor non laborum.","INN":"2177361034","KPP":"9098586338","type":"ИП","isSystem":true,"createdAt":"2015-12-08T19:59:36.572Z","updatedAt":"2015-12-08T19:59:36.572Z"}},{"id":2,"order":0,"createdAt":"2015-12-12T12:36:59.143Z","updatedAt":"2015-12-12T12:37:02.357Z","SubjectId":2,"UserId":1,"Subject":{"id":2,"name":"Mckee","description":"Ea veniam ut eu ad est sint occaecat consectetur ex consequat.","INN":"2361384589","KPP":"1881450886","type":"Компания","isSystem":false,"createdAt":"2015-12-08T19:59:36.586Z","updatedAt":"2015-12-08T19:59:36.586Z"}}
            ];

    include ./fav-form-cards

    -
        var bName = 'Скрыть',
        fName ='Данный раздел находится в разработке';

    include ./no-form

