div(class='add-form-simple m-hidden', data-form='clients-table')
    include ./block-form-divider
    div(data-append-table='/subjects' style='width:100%')
    div(class='sfs__button' data-bind-click='blockFormCollapse') #{bName}