extends ./main-block

block vars
    -
        var hashLink = 'clients',
            blockIcon = 'm-clients__block-logo',
            blockTitle = 'Картотека субъектов',
            blockControls = [
                {
                    id: 1,
                    name: 'Расширенный поиск',
                    formName: 'no-form'
                },{
                    id: 2,
                    name: 'Полный список',
                    formName: 'clients-table',
                    clicks: ['loadTableFromUrl'],
                    dataAttrs: {
                        "data-table": "/subjects"
                    }
                },{
                    id: 3,
                    name: 'Добавить',
                    formName: 'add-form'
                },{
                    id: 4,
                    name: 'Избранное',
                    formName: 'fav'
                }
            ],
            searchResults = ['Карасева', '444555687456765', 'ООО Игарка', 'ИП Казаков Иван Васильевич'];


block forms
    -
        var addFormFields = [
            {
                name: 'Тип субъекта',
                dataType: 'selector',
                defaultValue: 'Компания',
                data: ['Компания', 'ИП', 'Физ-лицо'],
                fName: 'type',
                width: 1,
                height: 1
            },{
                name: 'Название/Фио',
                dataType: 'text',
                placeholder: 'Полное наименование субъекта',
                fName: 'name',
                width: 1,
                height: 1
            },{
                name: 'ИНН',
                dataType: 'text',
                placeholder: 'ИНН субъекта',
                fName: 'INN',
                width: 1,
                height: 1
            },{
                name: 'КПП',
                dataType: 'text',
                placeholder: 'КПП субъекта',
                fName: 'KPP',
                width: 1,
                height: 1
            },{
                name: 'Описание',
                dataType: 'textarea',
                placeholder: 'Комментарии',
                fName: 'description',
                width: 2,
                height: 4
            },{
                name: 'Системная организация',
                dataType: 'bool',
                default: false,
                fName: 'isSystem',
                width: 1,
                height: 1
            }
        ],
        fName = 'Добавление субъекта',
        bName = 'Сохранить';
    div.main-block-form-container
        include ./add-form-simple.jade

    -
        var fName = 'Избранные субъекты',
            bName = 'Скрыть',
            favs = [];
    div.main-block-form-container
        include ./fav-form-cards

    -
        var bName = 'Скрыть',
        fName ='Данный раздел находится в разработке';
    div.main-block-form-container
        include ./no-form

    -
        var bName = 'Скрыть',
        fName ='Список субъектов';
    div.main-block-form-container
        include ./clients-table