extends ./main-block

block vars
    -
        var hashLink = 'clients'
        var blockIcon = 'm-clients__block-logo'
        var blockTitle = 'Картотека субъектов'
        var blockControls = [
                {
                    id: 1,
                    name: 'Расширенный поиск',
                    formName: 'no-form'
                },{
                    id: 2,
                    name: 'Полный список',
                    formName: 'clients-table',
                    clicks: ['loadTableFromUrl'],
                    dataAttrs: {
                        "data-table": "/subjects"
                    }
                },{
                    id: 3,
                    name: 'Добавить',
                    formName: 'add-form'
                },{
                    id: 4,
                    name: 'Избранное',
                    formName: 'fav',
                    clicks: ['loadFormFromUrl'],
                    dataAttrs: {
                        "data-form-url": "/fav"
                    }
                }
            ]
        var searchResults = ['Карасева', '444555687456765', 'ООО Игарка', 'ИП Казаков Иван Васильевич']
        var searchSelector = 'clients'
        var simpleSearchUrl = '/subjects'
        var searchFieldAttrs = {
            "data-autocomplete-field": "true",
            "data-autocomplete-source": "/subjects?fromAjax=true&JSONOnly=true",
            "data-autocomplete-param": "search",
            "data-autocomplete-response-priority": "id,name,INN,KPP,description",
            "data-autocomplete-display-label": "name,INN",
            "data-autocomplete-display-value": "INN",
            "data-autocomplete-value": "id",
            "data-bind-click": "traverseEvent",
            "data-event-target-selector": "[data-event-trigger-selector='subjectsMainBlockSearchField']",
            "data-event-trigger-selector": "subjectsMainBlockSearchField",
            "data-event-name": "keydown"
        }



block forms
    -
        var addFormFields = [
            {
                name: 'Тип субъекта',
                dataType: 'selector',
                defaultValue: 'Компания',
                data: ['Компания', 'ИП', 'Физ-лицо'],
                dataAttrs: {name: 'type'},
                width: 1,
                height: 1
            },{
                name: 'Название/Фио',
                dataType: 'text',
                placeholder: 'Полное наименование субъекта',
                dataAttrs: {name: 'name'},
                width: 1,
                height: 1
            },{
                name: 'ИНН',
                dataType: 'text',
                placeholder: 'ИНН субъекта',
                dataAttrs: {name: 'INN'},
                width: 1,
                height: 1
            },{
                name: 'КПП',
                dataType: 'text',
                placeholder: 'КПП субъекта',
                dataAttrs: {name: 'KPP'},
                width: 1,
                height: 1
            },{
                name: 'Описание',
                dataType: 'textarea',
                placeholder: 'Комментарии',
                dataAttrs: {name: 'description'},
                width: 2,
                height: 4
            },{
                name: 'Системная организация',
                dataType: 'bool',
                default: false,
                dataAttrs: {name: 'isSystem'},
                width: 1,
                height: 1
            }
        ]
        fName = 'Добавление субъекта'
        bName = 'Сохранить'
    div.main-block-form-container
        include ./add-form-simple.jade

    -
        var fName = 'Избранные субъекты'
            bName = 'Скрыть'
    div.main-block-form-container
        include ./fav-form-cards

    -
        var bName = 'Скрыть',
        fName ='Данный раздел находится в разработке';
    div.main-block-form-container
        include ./no-form

    - var bName = 'Скрыть'
    - var fName ='Список счетов'
    - var dataForm = 'clients-table'
    - var tableSource = '/subjects'
    div.main-block-form-container
        include ./simple-table


