extends ./main-block

block vars
    -
        var blockIcon = 'm-clients__block-logo';
            blockTitle = 'Субъекты системы';
            blockControls = [
                {
                    id: 1,
                    name: 'Расширенный поиск'
                },{
                    id: 2,
                    name: 'Полный список'
                },{
                    id: 3,
                    name: 'Добавить'
                },{
                    id: 4,
                    name: 'Избранное'
                }
            ];
            searchResults = ['Карасева', '444555687456765', 'ООО Игарка', 'ИП Казаков Иван Васильевич'];
