div(class='add-form-simple m-hidden', data-form='fav')
	include ./block-form-divider
	i(class='fa fa-external-link table__new-window' title='Открыть в новой вкладке' data-bind-click='openTableInNewWindow')
	div(data-append-form='fav' style='width:100%')
	div(class='sfs__button' data-bind-click='blockFormCollapse') #{bName}

