div(class='main__header-title') FinSystem
div(class='main__header-userblock m-hidden')
    span(class='main__header-userblock__label') Вы вошли как: &nbsp;
    span(class='main__header-userblock__username' data-bind-onload='getUserInfo') 
div(class='main__header-exit' data-bind-click='logout' data-logout-url='/logout.html') Выход