div(class='main__content-tabs' data-bind-onload='initTabs')
    ul
        li 
            a(href='#roottab') Главная
    div(id='roottab')
        ol
            li API: в выдачу транзакций предоставлять помимо ID еще и названия субъектов и номера счетов, итоговую сумму
            li WEB: при создании транзакции при выборе НА ЧЕРЕЗ выставлять счета из поля ЧЕРЕЗ
            li WEB/API: в выдаче списка транзакций от субъекта и к субъекту приходят NULL, проверить добавление транзакции
            
