div(class='main__content-data-container'  data-bind-onload='initDataTables')
    table#example.display(cellspacing='0', width='100%')
      thead
        tr
          th id
          th Name
          th Description
          th INN
          th KPP
      tfoot
        tr
          th id
          th Name
          th Description
          th INN
          th KPP
            
