div(class='add-form-simple m-hidden', data-form='no-form')
    include ./block-form-divider
    div(class='sfs__container')
        div(class='sfs__no-form')
        div(class='sfs__button' data-bind-click='blockFormCollapse') #{bName}