include ../templates/subjects-list
include ../templates/subject-view
include ../templates/operations-list
include ../templates/operations-view
include ../templates/transactions-add
include ../templates/transactions-list

