ul.menu.login-menu
	li.login login
	li.register register
ul.menu.main-menu
	li.clients clients
	li.operations operations
	li.cash-box.current cash-box
	li.reports reports
	li.accounts accounts
	li.exchange exchange rates


