/*
 * third party
 */
@import "CSS:../../bower_components/normalize.css/normalize.css";
@import "partials/font-awesome.scss";

/*
 * my scripts
 */
@import "partials/menu";

body
{
  padding-top: 50px;
}
#content
{
  padding-top: 20px;
}
.base-table-sort-icon
{
  width: 14px;
  height: 14px;
  display: inline-block;
}